

*/

:root {

    --dark: #f0f0f5;
    --dark-x: #e7ece7; 
    --light: #1b1b1d;
}

body {
 
    color: var(--light);
   
}


.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    min-height: 3.125rem;
    line-height: initial;
}
.form-control:focus {
    background-color: var(--dark-x);
    outline: none;
}

.img-1 {
    background-image: url('/img/img-1.jpg');
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url('/img/img-2.jpg');
    background-size: cover;
    background-position: center;
}
.img-3 {
    background-image: url('/img/img-3.jpg');
    background-size: cover;
    background-position: center;
}